.vscode/
.github/
build/
Camera/
logs/
assets/img_with_q/
records/
records_auto_buff_big/
records_new/
imgs/
MvSdkLog/
testvideos/
watchdog.sh
records_24/
records_25/
# local third-party repo
gtsam/

# generated videos/results
*.avi
*.mp4
plan_big*.csv
plan_big*.png

# large model files
*.engine
*.onnx
